/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background: url('KBC11Logo.jpg') ;
  background-size:cover;
  color: #f2ecec;
  margin: 50px;
  width: 700px;
  margin-left: 400px;
  padding: 0;
}


/* Main Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(12, 12, 12, 0.85);
  position: relative;
}

/* Game Area */
.game-area {
  width: 65%;
  margin-left:90px ;
  margin-top: auto;
}

/* Start Game Overlay */
#start-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#start-button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: gold;
  color: #0f0f0f;
  cursor: pointer;
}
#restart-btn{
  padding: 15px 20px;
  display: flex;
  margin-left: 90px;
  text-align: center;
  font-size:15px ;
  border-radius: 12px;
  cursor: pointer;
  background-color: #ffd700;

}

#start-button:hover {
  background-color: #ffd700;
}

/* Heading */
h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: gold;
}

/* Timer */
#timer {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

/* Question */
.question {
  text-align: center;
  font-size: 22px;
  margin: 20px 0;
}

/* Options */
.options button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 18px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.options button:hover {
  background-color: green;
}

/* Result */
#result {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

/* Prize Ladder */
.prize-ladder-container {
  width: 35%;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  max-height: 400px;
  overflow-y: auto;
}

#prize-ladder {
  list-style: none;
  padding: 0;
  margin: 0;
}

#prize-ladder li {
  padding: 8px;
  border-bottom: 1px solid #444;
}

#prize-ladder li.active {
  background-color: gold;
  color: #000;
  font-weight: bold;
}




  