body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0e1d1a, #8b9df0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: rgb(15, 16, 16);

}


.container {
    background: rgb(187, 225, 238);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
    column-rule-color: #101010 ;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #101010;
}

.result {
    margin-top: 100px;
}
