body{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background: rgb(240, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.minicard{
    width: 400px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 20px black;
}

.minicard img{
    width: 400px;
    border-radius: 10px;
}

.heading{
    color: #4d42c9;
    font-size: 20px;
    margin-top: 10px;
}

.minicard h2{
    margin: 6px 0px;
    font-size: 22px;
    color: #181818;
}

.paragraph{
    color: #3e3e3e;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.name{
    font-weight: bold;
    color: #444;
    font-size: 15px;
}

